
.application {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

.application > .header, .application > .footer {
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 3em;
  height: 3em;
  background-color: #F1F1F1;
  color: #0086E6;
  border-bottom: 1px solid #CECECE;
}

.application > .footer {
  color: inherit;
  border-top: 1px solid #CECECE;
  border-bottom: none;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.application > .footer > div {
  max-height: 3em;
}
