.application {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

.application * {
  font-family: 'Titillium Web', sans-serif;
}

.application > .header, .application > .footer {
  font-size: 16px;
  text-align: center;
  line-height: 3em;
  height: 3em;
  background-color: #F1F1F1;
  color: #0086E6;
  border-bottom: 1px solid #CECECE;
}

.application > .footer {
  color: inherit;
  border-top: 1px solid #CECECE;
  border-bottom: none;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.application > .footer > .fa {
  max-height: 3em;
  line-height: 3em;
  color: gray;
}

/* Override Bootstrap defaults */

.btn {
  border-radius: 0 !important;
}

/* Pulse styles */

.pulse-btn-primary {
  background-color: #02BBD1;
  border-color: #02BBD1;
  color: white;
  font-size: 130% !important;
}

.pulse-btn-white {
  background-color: white;
  border-color: white;
  color: #282828;
  font-size: 130% !important;
}

.pulse-gradient-background {
  width: 100%;
  height: 100%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#02bbd1+0,02bbd1+0,7db9e8+100 */
  background: #02bbd1; /* Old browsers */
  background: -moz-linear-gradient(top, #02bbd1 0%, #02bbd1 0%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #02bbd1 0%,#02bbd1 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #02bbd1 0%,#02bbd1 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02bbd1', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.pulse-footer-body {
  margin-bottom: 47px;
}

.pulse-footer {
  position: fixed;
  height: 47px !important;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
}
