
.impact {
    padding: 0.5em;
}

.impact > .balance {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.impact > div {
    margin: 0.5em;
}

.impact .section {
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: #F1F1F1;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.impact-progress {
    height: 3px;
    width: 100%;
    background-color: #B3B3B3;
}

.impact-progress > .fill {
    height: 3px;
}

.impact-progress > .Fitness {
    background-color: #69F0AE;
}

.impact-progress > .Nutrition {
    background-color: #00E676;
}

.impact-progress > .Lifestyle {
   background-color: #00C853;
}
