.main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100%;
}

.main > .header {
    display: grid;
    grid-template-columns: 50% 50%;
    color: gray;
}

.main > .header span {
    font-size: 17px;
    line-height: 2em;
    text-align: center;
    background-color: #444;
}

.main > .header span a {
    color: white;
}

.challenge-banner  {
    margin: 1em;
    padding: 0em 1em;
    line-height: 3em;
    color: white;
    background-color: #444444;
    border-radius: 8px;
}

.challenge-banner .fa {
    margin-right: 1em;
    color: #69f0ae;
}
