.questionImageContainer {
  padding: 25px;
}

.questionImageContainer > img {
  width: 100%;
}

.centerText {
  text-align: center;
}

.centerBox {
  display:flex;
  justify-content:center;
  align-items:center;
}

.questionText {
  color: black;
  font-weight: bold;
  font-size: 150%;
}

.periodText {
  color: #161616;
}

/* Slider style */

input[type=range] {
  background-color: transparent !important;
}

input[type=range] {
  height: 38px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #02BBD1;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 5px #000000;
  border: 1px solid #02BBD1;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: #02BBD1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #02BBD1;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #02BBD1;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 5px #000000;
  border: 1px solid #02BBD1;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: #02BBD1;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #02BBD1;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #02BBD1;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 5px #000000;
  border: 1px solid #28353B;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: #02BBD1;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #02BBD1;
}
input[type=range]:focus::-ms-fill-upper {
  background: #02BBD1;
}

.row-q {
  margin-top: 10px;
}
